body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#111;
    color:white;
    text-align:center;
}

header{
    background:linear-gradient(45deg,#ff512f,#dd2476);
    padding:25px;
}

header h1{
    margin:0;
    font-size:40px;
}

.buttons{
    margin:20px;
}

button{
    padding:10px 18px;
    margin:8px;
    border:none;
    border-radius:20px;
    background:#222;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#ff512f;
    transform:scale(1.1);
}

.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    padding:20px;
}

.card{
    background:#1c1c1c;
    width:250px;
    border-radius:15px;
    overflow:hidden;
    transition:0.4s;
    box-shadow:0 0 15px rgba(0,0,0,0.6);
}

.card img{
    width:100%;
    height:160px;
    object-fit:cover;
}

.card h3{
    margin:10px 0 5px;
}

.card p{
    color:#ffb347;
    font-size:20px;
    margin-bottom:15px;
}

.card:hover{
    transform:translateY(-10px) scale(1.05);
    box-shadow:0 0 25px #ff512f;
}
